/**
 *  CSS RESETS
 * ------------
 */
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.slide {
  background: #FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: table;
}
.slide .content {
  width: 95%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
