* {
    font-family: $primary-font;
}
a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}
h1, h2, h3,
h4, h5, h6 {
    font-weight: 300;
}
button {
    background: #5FA0E1;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

/**
 * HELPER
 */
.big-font {
    font-size: 8em;
}
.med-font {
    font-size: 2em;
}
.img-responsive {
    img {
        height: 100%;
        width: 100%;
    }
}